In [ ]:
# Stuff that will appear at the top of notebooks;
# You don't have to understand how this works or change it for now.

from datascience import *
import numpy as np

# Tables review
- try using select, where, sort, relabeled

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba_salaries = Table.read_table('nba_salaries.csv')
nba_salaries

# Data Types: ints versus floats
Let's review using ints and floats

# Strings and string manipulation
Let's concatenate, replace, access substrings

## Use type() to figure out type

## Boolean data type and comparisons

## Tables & Arrays
- review arrays, create a simple array and add it to a table

In [ ]:
#TODO: make an array from scratch and access items in array (2 different ways)

In [ ]:
#TODO: create a generic array using np.arange()

## Arrays versus Lists
Let's add a new row to the table by making a list

In [ ]:
icecream = Table().read_table('cones.csv')
icecream

### Using take() and select()

### A famous example: Minard's Map
Use the table functions we learned this week to find the southernmost city along the armyâ€™s retreat.

In [ ]:
minard = Table.read_table('minard.csv')
minard