In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Probability ##

In [2]:
# Intro Question (a):
# P(Rick and An both appear)

In [3]:
# Intro Question (b)
# P(neither Rick nor An appears)

## Random Sampling ##

In [2]:
united = Table.read_table('united.csv')
united = united.with_column('Row', np.arange(united.num_rows)).move_to_start('Row')
united

Row  | Date   | Flight Number | Destination | Delay
0    | 6/1/15 | 73            | HNL         | 257
1    | 6/1/15 | 217           | EWR         | 28
2    | 6/1/15 | 237           | STL         | -3
3    | 6/1/15 | 250           | SAN         | 0
4    | 6/1/15 | 267           | PHL         | 64
5    | 6/1/15 | 273           | SEA         | -6
6    | 6/1/15 | 278           | SEA         | -8
7    | 6/1/15 | 292           | EWR         | 12
8    | 6/1/15 | 300           | HNL         | 20
9    | 6/1/15 | 317           | IND         | -10
... (13815 rows omitted)

In [7]:
#Let's on look at where the destination is LAX (that's conveninient)

In [6]:
# Let's look at sampling just every 1000 row

In [8]:
# How about taking just the 35th, 6334th and 8000th row

In [9]:
#How about randomly choosing a start row below 1000?

In [ ]:
#Is this random sampling?

## Distributions ##

In [5]:
#Let's make a table with a column representing a die with different face options
die = Table().with_column('Face', np.arange(1, 7))
die

Face
1
2
3
4
5
6

In [10]:
#Try out the table method sample to sample/get 10 rows at random from the die table
#(this is similar to random.choice for an array)

In [12]:
#Let's look at the histogram of the die table using the following bins
roll_bins = np.arange(0.5, 6.6, 1)

In [14]:
#Now let's look at the histogram of sampling die 10 times (like simulating 10 rolls)

In [15]:
#How about using sample to simulate 1000 rolls?

In [16]:
#How about 10000 rolls?

## Large Random Samples ##

In [17]:
united

Row  | Date   | Flight Number | Destination | Delay
0    | 6/1/15 | 73            | HNL         | 257
1    | 6/1/15 | 217           | EWR         | 28
2    | 6/1/15 | 237           | STL         | -3
3    | 6/1/15 | 250           | SAN         | 0
4    | 6/1/15 | 267           | PHL         | 64
5    | 6/1/15 | 273           | SEA         | -6
6    | 6/1/15 | 278           | SEA         | -8
7    | 6/1/15 | 292           | EWR         | 12
8    | 6/1/15 | 300           | HNL         | 20
9    | 6/1/15 | 317           | IND         | -10
... (13815 rows omitted)

In [30]:
#Let's look at the delay times by making a histogram
united_bins = np.arange(-20, 201, 5)

In [20]:
#What is the min delay time?

In [21]:
#What is the max delay time?

In [22]:
#What is the average delay time

In [25]:
#What if we took a small sample of flights (say 10) and looked at the delay time in a histogram

In [24]:
#What if we looked at a larger sample (1000) of flights and looked at the delay time?

## Simulating Statistics ##

In [26]:
#Let's look at the median delay time

In [27]:
#Let's look at the median of a random sample of flights delay time

In [34]:
#Create a function to return the median of a random sample of flights
def sample_median(size):
    ...

In [36]:
#Do you remember how to simulate and accumulate outcomes in an array?

In [29]:
#Create a table with a column of sample medians and let's look at the histogram