## Comparing Histograms

We will start by looking at data from the Big 5 European Soccer Leagues for the 1995/96 to 2019/20 seasons.

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [ ]:
#Load data
goals = Table.read_table('big5.csv').select(3, 9, 6, 10)
goals

In [ ]:
#relabel the columns
goals = goals.relabeled(1, 'Home').relabeled(3, 'Away')
goals

In [ ]:
# Look at the distribution of goals scored by the home team... what is unit? what is the bin spacing?
goals.hist('Home')

In [ ]:
# Is there a home team advantage?

goals.hist([1, 3], unit = 'goals', bins = np.arange(0, 10, 0.5))

In [ ]:
climate = Table.read_table('NOAA.csv').relabeled(5, '1948').relabeled(6, '2018')
climate

In [ ]:
climate.hist(5, 6, unit = 'days above 90 degrees F', bins = (np.arange(0, 150, 10)))

## Defining Functions

In [ ]:
def data_range(values):
    return max(values) - min(values)

In [ ]:
#let's do a few more

In [ ]:
# How to write a function.  Step 1, write the body

In [ ]:
# Step 2 now use our def statement and take what we need, and specify what it will return.

In [ ]:
# Does this function change our original array?

In [ ]:
# What happens when we pass a number to this function?

In [ ]:
# Let's add a helpful description

In [ ]:
# can we add arguments?  What happens if we forget to set those arguments when we call the function?

## Apply

In [ ]:
# define a function called "cut off at a billion"

In [ ]:
# now use Apply to apply this function to a table we have already seen:
Table.read_table('top_movies_2017.csv')

## Prediction Example

In [ ]:
height = Table.read_table('galton.csv').select(1, 2, 7).relabeled(2, 'child')
height

In [ ]:
# visualize with a scatterplot - setting the child's height to be the horizontal variable

In [ ]:
# Compute the average height of both parents

In [ ]:
close_to_68 = 
close_to_68

## Groups

In [ ]:
# load cones.csv
all_cones = Table.read_table('cones.csv')
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
# group by 'Flavor'

In [ ]:
# add a second argument to see what else group can do.

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# let's focus on teams and how much they paid in salaries... can I just use group as is?

## Grouping by Multiple Columns

In [ ]:
#before looking at salary per position per team, first revisit cones
all_cones

In [ ]:
# group by two attributes

In [ ]:
#back to nba
nba

In [ ]:
full_table = Table.read_table(path_data + 'educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17'))
ca_2014