In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Bikes

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
trips = Table.read_table('trips_2.csv')
trips

In [ ]:
# Remember that these bikes were used generally for 30 
# minutes or less: 30*60 = 1800 seconds

commute = trips.where('Duration', are.below(1800))
commute.hist('Duration')

In [ ]:
commute.hist('Duration', bins=60, unit='second')

In [ ]:
# what is the area of this peak here?  What percentage of all 
# the trips in the data does this represent?

In [ ]:
starts = commute.group('Start Station').sort('count', descending=True)
starts

In [ ]:
commute.pivot('Start Station', 'End Station')

In [ ]:
trips.show(3)

In [ ]:
duration = commute.select(3, 6, 1)
duration

In [ ]:
shortest = duration.group([0, 1], min)
shortest

In [ ]:
from_cc = shortest.where(0, are.containing('Civic Center BART')).sort(2)
from_cc

## Maps

**Please run all cells before this cell, including the previous example cells and the import cell at the top of the notebook.**

In [ ]:
stations = Table.read_table('station.csv')
stations

In [ ]:
Marker.map_table(stations.select('lat', 'long', 'name'))

In [ ]:
sf = stations.where('landmark', 'San Francisco')
Circle.map_table(sf.select('lat', 'long', 'name'), color='green', radius=150)

In [ ]:
from_cc

In [ ]:
stations.group('landmark')

In [ ]:
colors = stations.group('landmark').with_column(
    'color', make_array('blue', 'red', 'green', 'orange', 'purple'))
colors

In [ ]:
stations.join('landmark', colors)

In [ ]:
map_table = stations.join('landmark', colors).select('lat', 'long', 'name', 'color')
Marker.map_table(map_table)

In [ ]:
station_starts = stations.join('name', starts, 'Start Station')
station_starts

In [ ]:
station_starts.select('lat', 'long', 'name').with_columns(
    'color', 'blue',
    'area', station_starts.column('count') * 1000
)

In [ ]:
Circle.map_table(station_starts.select('lat', 'long', 'name').with_columns(
    'color', 'blue',
    'area', station_starts.column('count') 
))

## Combining Table Methods

In [ ]:
duration

In [ ]:
#the value of the average duration of a rental.

In [ ]:
# the name of the station where most rentals ended.

In [ ]:
# number of stations for which the average duration ending at that station was
# more than 10 minutes.

## Drinks - More Table Review

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Coffee',    'Nefeli', 3],
    ['Espresso', "Abe's",   2]
])
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(5, 50, 25),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts

## Comparisons and Booleans

In [ ]:
pop = ('http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv')
full_census_table = Table.read_table(pop)
partial = full_census_table.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2015')
us_pop = partial.relabeled(2, '2010').relabeled(3, '2015')
us_pop

In [ ]:
us_pop.where('AGE', 70)

In [ ]:
us_pop.column('2015') / us_pop.column('2010')

In [ ]:
# Let's do one more table with advanced where
duration

In [ ]:
# The average duration of trips that started and ended at the same station
np.average(duration.column(2))

In [ ]:
# The average duration of trips that started and ended at the same station
np.average(duration.where(duration.column(0) == duration.column(1)).column(2))

In [ ]:
# The average duration of trips that started and ended at different stations
np.average(duration.where(duration.column(0) != duration.column(1)).column(2))

## Comparison and bool values

In [ ]:
# comparing numbers

In [ ]:
# What about strings?

In [ ]:
# Let's try writing a function

## Combining Bool Values

In [ ]:
x = 3
y = 4

In [ ]:
x < 2 or y > 5

In [ ]:
x < 2 or y > 3

In [ ]:
x < 2 and y > 3

Aggregating bool values

In [ ]:
True + True

In [ ]:
ages

In [ ]:
ages.column(1)

In [ ]:
sum(ages.column(1))

Predicates

In [ ]:
# create a predicate for "still young"

## Choice

In [ ]:
two_groups = make_array('treatment', 'control')
np.random.choice(two_groups)