In [ ]:
# Stuff that will appear at the top of notebooks;
# You don't have to understand how this works or change it for now.

from datascience import *
import numpy as np

# Tables review
- try using select, where, sort, relabeled

In [ ]:
# This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341
nba_salaries = Table.read_table('nba_salaries.csv')
nba_salaries

In [ ]:
#TODO: Just look at Los Angeles Lakers
lakers = nba_salaries.where('TEAM', 'Los Angeles Lakers')
lakers.show()

In [ ]:
#TODO: relabel salary column
lakers.relabeled('2015-2016 SALARY ($M)', 'SALARY')

In [ ]:
#Does a specific position make more than other positions?
lakers.relabeled('2015-2016 SALARY ($M)', 'SALARY').sort('SALARY', descending = True).where('POSITION', 'C').row(0)

In [ ]:
#let's look at rank and salary
ratio = lakers.relabeled('2015-2016 SALARY ($M)', 'SALARY').column('SALARY')/lakers.column('RANK')
ratio

In [ ]:
lakers.with_column('Ratio Salary/Rank', ratio)

# Data Types: ints versus floats
Let's review using ints and floats

In [ ]:
num1 = 4
example1 = num1+3
example1

In [ ]:
num2 = 6.5
result = num2+num1
result

In [ ]:
type(result)

In [ ]:
float(num1)

In [ ]:
result = (num1 + num2)**3

In [ ]:
result

# Strings and string manipulation
Let's concatenate, replace, access substrings

In [ ]:
firstName = 'Breanna'
lastName = 'Minnick'
fullName = firstName + ' '+ lastName

In [ ]:
fullName

In [ ]:
text = 'How are you today? I am fine!'
text

In [ ]:
characters = text.replace(' ', '')

In [ ]:
characters.replace('?','').replace('!','')

In [ ]:
name = 'Noel'
name

In [ ]:
number = 5

In [ ]:
name + str(number)

In [ ]:
make_array(2, 3, 5)

In [ ]:
make_array('4', '6', '13')

In [ ]:
someInput = '.4567'
float(someInput)

## Use type() to figure out type

## Boolean data type and comparisons

In [ ]:
a1 = make_array(1,2,3,1,1)
a2 = make_array(5,4,3,2,1)

In [ ]:
a1 == 1

In [ ]:
value1 = 34
value2 = 6

In [ ]:
value2 % 3 == 0

## Tables & Arrays
- review arrays, create a simple array and add it to a table

In [ ]:
#make an array from scratch and access items in array (2 different ways)
myArray = make_array(1,2,3)
myArray

In [ ]:
#create a generic array using np.arange()
myArray2= np.arange(1, 100, 0.3)
myArray2

## Arrays versus Lists
Let's add a new row to the table by making a list

In [4]:
icecream = Table().read_table('cones.csv')
icecream

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [ ]:
#can we make a new array and add it as a column?
numGallons = make_array(2,4,2,0,3.5, 3)
icecream = icecream.with_column('Inventory', numGallons)
icecream

In [ ]:
#can we make a new list and add it as a row?
newItem = ['Strawberry','red', 2.5, 3.2]
newItem

In [ ]:
icecream = icecream.with_row(newItem)
icecream

### Using take() and select()

In [5]:
#Make a table with just the first row
icecream.take(0)

Flavor     | Color | Price
strawberry | pink  | 3.55

In [6]:
#Make a table with just the first column
icecream.select(0)

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [7]:
value = 5
value +33.4

38.4

### A famous example: Minard's Map
Use the table functions we learned this week to find the southernmost city along the army’s retreat.

In [8]:
minard = Table.read_table('minard.csv')
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [9]:
minard.where('Direction','Retreat').sort('Latitude').take(0).column(2)

array(['Moiodexno'], dtype='<U9')